<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">My Portfolio</a>

    <ul class="navbar-nav">
      {{ range .Site.Menus.main }}
        {{ if eq .Lang $.Site.Language.Lang }}  <!-- 현재 페이지 언어와 메뉴 언어 비교 -->
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>

    <!-- 언어 선택 버튼 -->
    {{ if .IsTranslated }}
      <ul class="navbar-nav ml-auto">
        {{ range .Translations }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .RelPermalink }}">
              {{ .Language.LanguageName }}
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</nav>